body{
    margin: 0;
    font-family: Poppins;
    background-color: rgb(44, 44, 44);
}

.main{
    display: flex;
    align-content: start;
}

.chapters{
    display: flex;
    background-color: rgb(44, 44, 44);
    flex-direction: column;
    gap: 5px;
    padding: 5px 0px;
    width: 400px;
    position: fixed;
    z-index: 50;
    top: 7%;
    height: 91%;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x:visible;
}

.surahname{
    color: rgb(223, 223, 223);
    text-decoration: none;
    font-size: 12px;
    font-weight: 200;
    margin: 0;
    cursor: pointer;
    font-family: Noto Naskh Arabic, Poppins;
}

.surah{
    background-color: rgb(44, 44, 44);
}

.inactive{
    display: none;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0px;
    width: 100%;
}

.verse{
    background-color: rgb(44, 44, 44);
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 50px;
}
.ayah{
    color: rgb(223, 223, 223);
    padding: 0px 10px;
    margin: 0;
}
.arabic{
    font-size: 30px;
    font-family: Noto Naskh Arabic;
    font-weight: 600;
    text-align: end;
}
.english{
    font-size: 17px;
    font-weight: 400;
}

.number{
    font-size: 30px;
    font-weight: 500;
}

.separator,
.separator2{
    height: 1px;
    width: 98%;
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.separator2{
    background-color: rgba(223, 223, 223, 0.432)
}

.section1{
    display: flex;
    justify-content: space-between;
}

audio,
source{
    width: 300px;
    background-color: transparent;
    color: transparent;
}

.header{
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: rgb(68, 68, 68);
    margin: 0;
    display: flex;
    align-items: center;
    height: 10%;
}

#menu{
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 5px 5px;
}

#menuimg{
    width: 33px;
    height: 30px;
}
.overlay{
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 1500px;
    background-color: rgba(0, 0, 0, 0.347);
    margin: 0;
}

input::-webkit-slider-thumb{
    color: rgb(0, 0, 0);
    background-color: black;
}


